/* body{ 

  background-color:   #2b0040
}
.calc-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b0040;
}

.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 20px;
  background: #12001a;
  box-shadow: 0 0 25px #00f7ff;
}

.calc-screen {
  height: 70px;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #1e0030;
  color: #ff4fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  box-shadow: inset 0 0 10px #ff4fff;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  background: transparent;
  color: #00eaff;
  box-shadow: 0 0 10px #00eaff;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 234, 255, 0.15);
}

.red {
  color: #ff4040;
  box-shadow: 0 0 10px #ff4040;
}

.blue {
  color: #00eaff;
}

.equal {
  grid-row: span 2;
  background: #ffcc00;
  color: black;
  box-shadow: 0 0 15px #ffcc00;
}

.zero {
  grid-column: span 2;
} */

body{ 
  background-color: #2b0040;
}

.calc-wrapper{
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b0040;  
}

.calculator{
    width: 320px;
  padding: 20px;
  border-radius: 20px;
  background: #12001a;
  box-shadow: 0 0 25px #00f7ff;
}

.calc-screen{
    height: 70px;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #1e0030;
  color: #ff4fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  box-shadow: inset 0 0 10px #ff4fff;
}


.calc-btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}


.btn {
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  background: transparent;
  color: #00eaff;
  box-shadow: 0 0 10px #00eaff;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 234, 255, 0.15);
}




.red {
    color: #ff4040;
  box-shadow: 0 0 10px #ff4040;
}

.blue {
color: #00eaff;
}

.equal {
  grid-row: span 1;
  background: #ffcc00;
  color: black;
  box-shadow: 0 0 15px #ffcc00;
}

.zero {
  grid-column: span 2;
} 